html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Sigmar One";
  color: #b20953;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  text-transform: uppercase;
}

nav ul li {
  font-family: Georgia, serif;
  display: inline-block;
  border-radius: 4px;
  background-color: #b2a212;
  padding: .2em .5em;
  line-height: 1.5;
  margin-bottom: .3em;
  font-size: 1.125rem;
}

nav ul li a:hover {
  background-color: #cc1465;
}

header {
  text-align: center;
  background-color: #ffe500;
}

h2 {
  font-family: "Sigmar One";
  color: #b20953;
  text-align: left;
  font-size: 1.875rem;
  text-transform: uppercase;
}

img {
  display: block;
  width: 100%;
}

p {
  display: inline-block;
  font-family: Georgia, serif;
  color: #2f2d13;
  text-align: left;
  font-size: .75rem;
}

body {
  margin: 0;
}

footer {
  background-color: #ffe500;
  padding: .75em;
  margin: 0;
}

a {
  text-decoration: none;
}

nav .current {
  background-color: #cc1465;
}
