html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: Sigmar One, cursive;
  color: #b20953;
  text-align: center;
  background-color: #ffe500;
  margin-top: .3em;
  margin-bottom: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  border-radius: 4px;
  background-color: #b2a212;
  padding: .2em .5em .3em;
  line-height: 1.5;
  margin-bottom: .3em;
  text-size: 1.125rem;
}

h2 {
  font-family: Sigmar One, cursive;
  color: #b20953;
  text-align: left;
  text-size: 1.875rem;
}
